.one{
    font-size: 40px;
    white-space: nowrap;
    margin-right: 1500px;
    margin-top: 20px;
}
.two{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.back{
    width: 150px;
    height:150px;
    margin-right: 10px;
}
.fyp2{
    width: 200px;
    height: 250px;
}
.three{
    margin-left: 50px;
    margin-bottom: 150px;
    margin-right: 100px;
    display: flex;
    height: 150px;
}

.true{
    margin-right: 500px;
    margin-left: 20px;
}

.three1{
    font-size: 35px;

}

.three2{
    font-size: 25px;
}
.three3{
    margin-left: 200px;
}

.header{
    height: 300px;
    display: flex;   
}

.four{
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
}

.four > p{
    font-size: 30px;
}



.five{
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}

.five > p{
    position: absolute;
    margin-right: 1500px;
    margin-top: -5px;
    font-size: 30px;
}

.six{
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}

.six > p{
    position: absolute;
    margin-right: 1500px;
    margin-top: -5px;
    font-size: 30px;
}

.seven{
    display: flex;
}

.seven-2{
    width: 750px;
    height: 150px;
    margin-left: 100px;
    border: 3px solid rgb(179, 178, 178);
}

.seven > p{
    margin-left: 100px;
    font-size: 30px;
}

.seven > :placeholder-shown{
    font-size: 20px;
}

.last{
    margin-left: 90px;
    font-size:35px;
    margin-top: 120px;
}

.choose{
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 250px;
    margin-bottom: 50px;
    font-size: 30px;
}

.last-1{
    
    margin-right: 15px;
    margin-top: -10px;
}


.option1, .option2, .option3, .option4, .option5{
    width: 50px;
    transform: scale(2);
}
.hr{
    margin-top: 10px;
}