.fa-arrow-circle-o-left {
    font-size: 50px;
    /* 設置圖標的大小 */
    margin-left: 1%;
    margin-top: 1%;
}

.one {
    display: flex;
}

.two>img {
    width: 90%;
    margin-top: 10%;
    margin-left: 10%;
}

.three {
    margin-left: 15%;
    margin-top: 2%;
    display: flex;
    width: 40%;
}

.ex{
    margin-left: -30%;
}

.three-1 {
    margin-top: 5%;
}

.three-2 {
    display: flex;
    font-size: 20px;
    width: 150%;
    margin-top: -10%;
}

.fa-map-marker {
    margin-top: 5%;
    margin-right: 2%;
    font-size: 125%;
}

h1 {
    font-size: 200%;
    margin-top: -1%;
}

.p1 {
    font-size: 200%;
    margin-left: -10%;
    margin-bottom: 30%;
    margin-top: 2%;
}

.three-3 {
    display: flex;
}

.three-3 {
    font-size: 110%;
    margin-top: -25%;
    margin-left: -5%;
    margin-bottom: 2%;
    margin-right: -20%;
}

.three-2>p {
    font-size: 105%;
    margin-top: 5%;
}

.p0 {
    position: absolute;
    font-size: 200%;
    margin-left: -39%;
    margin-top: 1%;
}

.tab {
    margin-left: 50%;
    margin-right: -20%;
    font-size: 150%;
    margin-top: -15%;
}

table {
    width: 150%;
    border-collapse: collapse;
    margin: 20% auto;
}

th,
td {
    border: 1px solid #000;
    padding: 1%;
    /* 使用百分比设置内边距 */
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.sizeeee {
    margin-left: 5%;
    margin-bottom: -18%;
}

.four {
    display: flex;
    align-items: center;
    /* 垂直居中 */
    margin: 1%;
    margin-top: -10%;
    margin-right: 2%;
}

.four-1 {
    width: 3%;
    /* 设置图片宽度 */
    height: auto;
    /* 保持图片的宽高比 */
    margin-right: 3%;
    margin-top: 5%;
    margin-left: 2%;
}
.four-2{
    display: flex;
    justify-content: space-between;
}
.four-1 > img{
    width: 200%;
    padding-left: 200%;
    margin-right: 100%;
    margin-top: 120%;
}

.a{
    margin-bottom: -50%;
}

.four-1>p {
    margin-bottom: -100%;
    margin-left: 200%;
    font-size: 50%;
}

hr {
    margin-top: 0%;
    border-top: 1px solid #000;
}

.five>p {
    background-color: rgb(178, 178, 178);
    border-radius: 50px;
}

.five {
    width: 20%;
    height: 20%;
    font-size: 150%;
    margin-left: 15%;
    margin-top: -0.5%;
}

.five-1 {
    font-size: 250%;
    margin-top: 1%;
    margin-left: 2%;
}

.six {
    display: flex;
}

.vertical-line {
    position: absolute;
    top: 0;
    right: -5px; /* 调整直线与文本之间的距离 */
    height: 14%; /* 直线的高度 */
    width: 0.25%; /* 直线的宽度 */
    background-color: #000; /* 直线的颜色 */
    margin-top: 42.7%;
    margin-right: 40%;
}

.five-2{
    margin-left: 60%;
    /* position: absolute; */
    margin-top: -5%;
    
}

.five-3{
    width: 25%;
    margin-left: 15%;
    margin-right: 30%;
    height: 100%;
    border-radius: 50px;
    color: #e9678c;
    font-size: 125%;
    background-color: #f4b9bd;
   
}

.five-4{
    width: 25%;
    height: 100%;
    border-radius: 50px;
    color: #5e95e0;
    font-size: 125%;
    background-color: #aec5e7;
    margin-top: 1%;
}

.fa-shopping-cart{
    font-size: 200%;
    margin-left: -3%;
    margin-top: 0.5%;
    position: absolute;
}

.fa-money{
    font-size: 200%;
    position: absolute;
    margin-left: 2%;
    margin-top: 0.5%;
}
