{% extends "home.html" %}
{% load static %}

{% block content %}
    <h1>孩童產品列表</h1>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <ul>
        {% if childs_products %}
            {% for product in childs_products %}
                <li>
                    <h2>{{ product.name }}</h2>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <p>價格: {{ product.price }}</p>
                    <p>顏色: {{ product.color }}</p>
                    <p>描述: {{ product.description }}</p>
                    <p>數量: {{ product.quantity }}</p>
                    <p>類別: {{ product.category }}</p>
                </li>
            {% endfor %}
        {% else %}
            <li>目前沒有相關產品上架喔</li>
        {% endif %}
    </ul>
{% endblock %}
