{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/evaluate.css' %}">
</head>

<body>
    <header>
        <div class="two">
            <a href="{% url 'home' %}">
            <img class="back" src="{% static 'images/back.PNG' %}" alt="">
            </a>
            <p class="one">評價此商品</p>
        </div>
        <div class="three">
            <img class="fyp2" src="{% static 'images/fyp2.png' %}" alt="">
            <div class="true">
                <p class="three1">針織吊帶</p>
                <p class="three2">規格: 灰色/XS</p>
            </div>
        </div>
        <hr class="hr">
    </header>

    <footer>
        <div class="four">
            <p>非常滿意</p>
            <p>滿意</p>
            <p>普通</p>
            <p>不滿意</p>
            <p>非常不滿意</p>
        </div>
        <form class="choose">
            <label class="last-1">商品品質:</label>
            <input type="radio" class="option1" name="product_quality" value="Option 1">
            <input type="radio" class="option2" name="product_quality" value="Option 2">
            <input type="radio" class="option3" name="product_quality" value="Option 3">
            <input type="radio" class="option4" name="product_quality" value="Option 4">
            <input type="radio" class="option5" name="product_quality" value="Option 5">
        </form>
        
        <form class="choose">
            <label class="last-1">物流服務:</label>
            <input type="radio" class="option1" name="logistics_service" value="Option 1">
            <input type="radio" class="option2" name="logistics_service" value="Option 2">
            <input type="radio" class="option3" name="logistics_service" value="Option 3">
            <input type="radio" class="option4" name="logistics_service" value="Option 4">
            <input type="radio" class="option5" name="logistics_service" value="Option 5">
        </form>
        
        <div class="seven">
            <p>其他:</p>
            <input class="seven-2" placeholder="請輸入文字:">
            <button class="last" type="submit">提交</button>
        </div>
    </footer>
    


</body>

</html>