{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script> 
    <title>Home</title>
</head>
<body>
    <div class="top">
        <div class="icon-box">
            <a href="{% url 'home' %}">                      
            <img id="house" src="{% static 'images/house.png' %}" alt="">
            </a>
            <img id="list-p" src="{% static 'images/list-p.png' %}" alt="">
        </div>
        <form method="POST" action="/search/"> 
            {% csrf_token %}
            <div class="search-box">
                <input type="text" id="q" name="q" placeholder="請輸入關鍵字 例:短袖女裝">
                <button type="submit" style="font-family:微軟正黑體;font-weight:bolder;font-size:22pt;">&#x1F50E;</button>
            </div>
        </form>
    </div>
    {% block content %}
    <div class="product">
        <p id="foryou">為您推薦</p>
        <div class="fyp">
            {% for item in items %}
                <div class="fyp-b">
                    {% if item.image %}
                        <img id="fyp-p" src="{{ item.image.url }}" alt="{{ item.name }}">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    <div class="fyp-1t">
                        <p>{{ item.name }}</p>
                        <p>NT $ {{ item.price }}</p>
                        <p id="sell{{ forloop.counter }}">已售 {{ item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    <div class="list">
        <a href="{% url 'mine' %}"><button id="mine">我的</button></a>
        <a href="{% url 'logout' %}" class="list-group-item">登出</a>
        <a href="{% url 'shopcar' %}"><button id="car">購物車</button></a>
    </div>

    <!-- 滑出列表 -->
    <div id="sliding-menu" class="sliding-menu">
        <div class="list-b">
            <img id="list-p2" src="{% static 'images/list-p.png' %}" alt="">
            <p id="hehehe">分類</p>
        </div>
        <ul>
            <div class="sub-b">
                <img id="sub-p" src="{% static 'images/list-c.png' %}" alt="">
                <a href="{% url 'man' %}"><li class="subject">男裝</li></a>
            </div>
            <div class="sub-b">
                <img id="sub-p" src="{% static 'images/list-c.png' %}" alt="">
                <a href="{% url 'girl' %}"><li class="subject">女裝</li></a>
            </div>
            <div class="sub-b">
                <img id="sub-p" src="{% static 'images/list-c.png' %}" alt="">
                <a href="{% url 'child' %}"><li class="subject">童裝</li></a>
            </div>
            <div class="sub-b">
                <img id="sub-p" src="{% static 'images/list-c.png' %}" alt="">
                <a href="{% url 'jewelry' %}"><li class="subject">首飾</li></a>
            </div>
            <div class="sub-b">
                <img id="sub-p" src="{% static 'images/list-c.png' %}" alt="">
                <a href="{% url 'shoe' %}"><li class="subject">鞋子</li></a>
            </div>
        </ul>
    </div>
    
    
</body>
</html>
