{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>庫存管理</title>
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}">
</head>

<body>
    <h1 class="title">庫存管理</h1>
    <a href="{% url 'home' %}">                      
        <img id="house" src="{% static 'images/house.png' %}" alt="">
        </a>
    {% if messages %}
    <div class="success-message">
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="products">
        {% for product in products %}
        <div class="product">
            <div class="product-info">
                <p class="product-name">{{ product.name }}</p>
                <p class="product-stock">目前庫存：{{ product.quantity }}</p>
            </div>
            <div class="product-actions">
                <form action="{% url 'add_stock' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="quantity" min="1" placeholder="增加數量">
                    <button type="submit">增加庫存</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>
