{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="first">
        <a href="{% url 'home' %}">
        <img class="photo" src="{% static 'images/house.png' %}" alt="">
        </a>
        <p class="one">會員登入</p>
    </div>

    <!--<div class="input">
        <input class="username" class="search" name="username" type="text" placeholder="帳號:1234567@gmail.com">
        <input class="password" class="search" name="password" type="text" placeholder="密碼:">
    </div>-->

    <form action="/login/" method="post"><!--多這個 action裡面的是urls裡面的name method都是post-->
        {% csrf_token %}<!--要記得加這行 然後下面的欄位都要有name這樣才可以抓 如果有按鈕那些的 就都要包在form裡面-->
        <div class="input">
            <input class="username" class="search" name = "username" type="text" placeholder="帳號:1234567@gmail.com">
            <input class="password" class="search" name = "password" type="password" placeholder="密碼:">
            {% if msg %}
            <p class="error">{{ msg }}</p>  <!-- 显示错误信息 -->
            {% endif %} 
        </div>
        <input class="last" type="submit" value="登入">
    </form>
    <div class="text">
        
        <p>還沒有會員?</p>
        <a class="a" href="{% url 'register' %}">註冊</a>
        <!--<a class="a"
            href="https://accounts.nike.com/lookup?client_id=4fd2d5e7db76e0f85a6bb56721bd51df&redirect_uri=https://www.nike.com/auth/login&response_type=code&scope=openid%20nike.digital%20profile%20email%20phone%20flow%20country&state=3b8795fa212b4d6689c30b4becfd8ff9&code_challenge=-i6nfVBdoQBjKnXBDC_nWDXcakzRh4xlS9yCIU25oHA&code_challenge_method=S256">
            註冊</a>-->
    </div>
    <!--<input class="last" name="login btn"type="button" value="登入" />-->

</body>

</html>