<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="first">
        <img class="photo" src="static/images/IMG_5090.png">
        <p class="one">會員登入</p>
    </div>
    <div class="input">
        <input class="username" class="search" type="text" placeholder="帳號:    1234567@gmail.com">
        <input class="password" class="search" type="text" placeholder="密碼:">
    </div>

    <div class="text">
        <p>還沒有會員?</p>
        <a class="a"
            href="https://accounts.nike.com/lookup?client_id=4fd2d5e7db76e0f85a6bb56721bd51df&redirect_uri=https://www.nike.com/auth/login&response_type=code&scope=openid%20nike.digital%20profile%20email%20phone%20flow%20country&state=3b8795fa212b4d6689c30b4becfd8ff9&code_challenge=-i6nfVBdoQBjKnXBDC_nWDXcakzRh4xlS9yCIU25oHA&code_challenge_method=S256">
            註冊</a>
    </div>
    <input class="last" type="button" value="登入" />

</body>

</html>