{% extends "home.html" %}
{% load static %}



{% block content %}
    <h1>男性產品列表</h1>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <ul>
        {% if mans_products %}
        {% for product in mans_products %}
        <div class="fyp-b">
            {% if product.image %}
                <img id="fyp-p" src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <p>No image available</p>
            {% endif %}
            <div class="fyp-1t">
                <a href='/product/{{ product.id }}'>{{product.name }}</a>
                <p>NT $ {{ product.price }}</p>
                <p id="sell{{ forloop.counter }}">已售 {{ product.quantity }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <li>目前沒有相關產品上架喔</li>
        {% endif %}
    </ul>
{% endblock %}
