{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={%static 'css/product.css'%}>
</head>

<body>
    <div class="one">
        <a href={%url 'home'%}>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
        </a>
        <div class="two">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width:100%;">
        </div>
        <div class="three">
            <div class="three-1">
                <p class="p1">商品詳情</p>
                <div class="three-3">
                    <div class="three-4">
                        <div class="three-3">
                            <p>庫存:{{ product.quantity }}</p>
                            <p>描述: {{ product.description|safe }}</p>
                            <a href="{% url 'evaluate' %}"><li class="evaluate">評價</li></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="four">
        <div class="four-1">
            <p class="four-2">藏藍色</p>
            <img src="{% static 'images/product3.png' %}">
        </div>
        <div class="four-1">
            <p class="four-2">鐵灰色</p>
            <img src="{% static 'images/product4.png' %}">
        </div>
        <div class="four-1">
            <p class="four-2">黑色</p>
            <img src="{% static 'images/product5.png' %}">
        </div>
    </div>
    <hr>
    <div class="six">
        <div class="five">
            <p>大尺碼寬鬆T-shirt</p>
        </div>
        <b class="five-1">NT$389</b>
        <span class="vertical-line"></span>
    </div>
    <div class="five-2">
        <i class="fa fa-money" aria-hidden="true"></i>
        <input type="button" class="five-3" value="直接購買">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <a href={%url 'add_to_cart' product_id %}>
        <input type="submit" class="five-4" value="加入購物車">
        </a>
    </div>
    
    </div>

</body>

</html>
