{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
</head>

<body>
    <header class="h">
        <img class="one" src="{% static 'images/house.png' %}" alt="">
        <input class="ser" class="search" type="text" placeholder="請輸入關鍵字 例:短袖女裝:">
    </header>

    <body>
        <p class="b">為您推薦</p>

        <div class="c">
            <div class="c1">
                <p class="onee">V領針織上衣
                </p>
                <p class="two">NT$599</p>
                <p class="three">已售3,200</p>
            </div>
            <div class="c2">
                <p class="onee">針織吊帶
                </p>
                <p class="two">NT$100</p>
                <p class="three">已售3,200</p>
            </div>
            <div class="c3">
                <p class="onee">毛衣背心
                </p>
                <p class="two">NT$229</p>
                <p class="three">已售3,200</p>
            </div>
        </div>
        <footer class="foo">
            <hr>
            <div class="d">
                <img class="thr" src="three.png">
                <p>購物車</p>
                <p class="last">我的</p>
            </div>
        </footer>

    </body>
</body>

</html>