{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員註冊</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <h1 class="title">會員註冊</h1>
    <div class="all">
        <form class="radius" name="all" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" class="submit" value="註冊"><br><br>
        </form>
    </div>
</body>

</html>
