{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={%static 'css/register.css'%}>
</head>

<body>
    <h1 class="title">會員註冊</h1>
    <div class="all">
        <form class="radius" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input type="text" class="name" name="name" placeholder="姓名  :  XXX" required><br><br>
            <input type="text" class="birth-year" name="birth-year" name="birth_year"
                placeholder="出生年  :  y  /  m  /  d" required><br><br>
            <form class="gen" >
                <label for="gender" class="gender">性別 ：</label>
                <input type="radio" class="male" name="gender" value="male">
                <label for="male" class="man">男</label>
                <input type="radio" class="female" name="gender" value="female">
                <label for="female" class="woman">女</label>
            </form><br><br>
            <input type="tel" class="phone" name="phone" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}"
                placeholder="電話  : 09xx - xxx - xxx" required><br><br>
            <input type="email" class="email" name="email" placeholder="信箱  :" required><br><br>
        </form>
        <form action="{% url 'register' %}" method="post">
        <input type="password" class="password" name="password" placeholder="密碼  :" required><br><br>
        <form/>
        <input type="password" class="confirm_password" name="confirm_password" placeholder="確認密碼  :" required><br><br>
    </div>
    <!-- 註冊按鈕 -->
    <input type="submit" name="submit" class="submit" value="註冊"><br><br>
</body>

</html> {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static 'css/register.css' %}>
</head>

<body>
    <h1 class="title">會員註冊</h1>
    <div class="all">
        <form class="radius" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input type="text" class="name" name="name" placeholder="姓名  :  XXX" required><br><br>
            <input type="text" class="birth-year" name="borndate" name="birth_year"
                placeholder="YYYY-MM-DD" required><br><br>
            <div class="gen">
                <label for="gender" class="gender">性別 ：</label>
                <input type="radio" class="male" name="gender" value="male">
                <label for="male" class="man">男</label>
                <input type="radio" class="female" name="gender" value="female">
                <label for="female" class="woman">女</label>
            </div><br><br>
            <input type="tel" class="phone" name="phoneNum" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}"
                placeholder="電話  : 09xx - xxx - xxx" required><br><br>
            <input type="email" class="email" name="email" placeholder="信箱  :" required><br><br>
            <input type="password" class="password" name="password" placeholder="密碼  :" required><br><br>
            <input type="password" class="confirm_password" name="confirm_password" placeholder="確認密碼  :"
                required><br><br>
            <!-- 註冊按鈕 -->
            <input type="submit" name="submit" class="submit" value="註冊"><br><br>
        </form>
    </div>
</body>

</html>
