.one{
    width: 120px;
    height: 120px;
    margin-top: 50px;
    margin-left: 30px;
}

.ser{
    width: 1000px;
    height: 80px;
    margin-left: 750px;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 30px;
    border: 3px solid rgb(170, 167, 167); /* 设置黑色边框 */
    padding: 5px; /* 添加一些内边距 */
    display: inline-block; 
}

.h{
    display: flex;
    justify-content: space-around;
}
.ser::placeholder {
    font-size: 30px;
    font-weight: bold;
  }

.b{
    font-size: 50px;
    margin-left: 50px;
    margin-top: 60px;
}

.c{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
}

.c1, .c2, .c3{
    width: 300px;
    height: 340px;
    border: 3px solid rgb(170, 167, 167); /* 设置黑色边框 */
    padding: 5px; /* 添加一些内边距 */
    display: inline-block; 
    margin-bottom: 30px;
}

.h{
    border: 5px;
}

.thr{
    width: 75px;
    height: 100px;
}

.d{
    display: flex;
    justify-content: space-between;

}

.d > p{
    font-size: 30px;
}

.last{
    margin-right: 100px;
}

.foo{
    margin-top: 50px;
}

.onee{
    font-size: 25px;
    padding-left: 25px;
    padding-top: 210px;
    position: absolute;
}

.two{
    font-size: 25px;
    padding-left: 25px;
    padding-top: 245px;
    position: absolute;
}

.three{
    padding-left: 200px;
    padding-top: 275px;
    font-size: 20px;
}